/* .circleApp {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.circleApp {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.styleDropdown {
    background: linear-gradient(to top left, #A88dce, transparent 50%, #FA8072), linear-gradient(to top right, #37feb4, transparent 50%, #1fe7ef) transparent 50%;
    height:500px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 500px;
    padding: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
}

.dropdown {
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
}

.time {
    /* opacity: 0.2; */
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    margin-bottom: 28px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.time select {
    width: 150px;
}

.cal {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    margin-top: 28px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.diet {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    margin-bottom: 28px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.exclude {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    margin-top: 28px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

button {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); 
}

.planContainer {
    position: relative;
    width: auto;
}